*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #222224;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count{
    font-size: 15rem;
    color: #fff;
}

.btns{
    display: flex;
    gap: 150px;
    justify-content: space-between;
}

.btns button{
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    transition: all 0.5s ease;
}

.btns button:hover{
    background-color: #fff;
    color: #222224;
}

.btns button:active{
    transform: scale(0.9);
}


